<input type="password" placeholder="Client ID" name="clientId" required>
<input type="password" placeholder="Access Token" name="access" required>
<span class="scrollable-selector">
  <label><input type="checkbox" name="bits">Bits</label>
  <label><input type="checkbox" name="polls">Polls</label>
  <label><input type="checkbox" name="cp">Channel points</label>
  <label><input type="checkbox" name="predictions">Predictions</label>
  <label><input type="checkbox" name="donations">Donations</label>
</span>