:root {
  color-scheme: light dark;
  --border-radius: 1.5rem;
  --bg-color: #262734;
  --main-color: #424349;
}

@media (prefers-color-scheme: dark) {
  body { background: var(--main-color); color: #f1e3e3; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}

html,
body {
   margin: 0;
   padding: 0;
}

main {
  display: flex;
  height: 100vh;
  padding: 12px;
  overflow: clip;
  box-sizing: border-box;
}

menu {
  min-width: 240px;
  width: 240px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  overflow-y: scroll;
  max-height: 100%;
  box-sizing: border-box;
  padding: 15px 0;
  margin: 45px 0 15px 0;
  contain: paint;
  scrollbar-width: none;
}

menu::-webkit-scrollbar {
  display: none;
}

.module-settings {
  flex-grow: 1;
  border-radius: var(--border-radius);
  overflow: inherit;
  padding: 11px 20px 20px 20px;
  background-color: var(--bg-color);
  box-sizing: border-box;
  grid-template-columns: 7fr 10fr 3fr;
  grid-template-rows: 200px 1fr;
  column-gap: 20px;
  row-gap: 11px;
  display: none;
}

.wrapper {
  border-radius: calc(var(--border-radius) / 2);
  border: 2px solid red;
  margin: 0;
}

.wrapper > legend {
  user-select: none;
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.setting > button {
  flex: 1;
  width: 100%;
}

samp {
  grid-column: span 3;
  background-color: black;
  color: lime;
  padding: 10px;
}

menu > li {
  height: 60px;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.inactive {
  text-align: right;
  line-height: 60px;
  transition: line-height 100ms ease;
  cursor: pointer;
  margin: 10px 0px;
  overflow: clip;
  --before-color: red;
}

.inactive::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--before-color);
  border: 2px solid grey;
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  box-shadow: 0 0 12px var(--before-color);
}

.active {
  background-color: var(--bg-color);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  z-index: -10;
  transition: top 200ms ease;
  user-select: none;
  top: -100px;
  position: absolute;
  width: inherit;
}

.active::after,
.active::before {
  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
  border-radius: 100vw;
}

.active::before {
  top: calc(var(--border-radius) * -1);
  box-shadow: 10px 10px 0 10px var(--bg-color);
  border-radius: 0 0 100vw 0;
}
.active::after {
  bottom: calc(var(--border-radius) * -1);
  box-shadow: 10px -10px 0 10px var(--bg-color);
  border-radius: 0 100vw 0 0;
}

.inactive:hover {
  line-height: 55px;
}

h3 {
  user-select: none;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0 20px 0 0;
  display: inline-block;
}

.switch {
  display: none;
}